# Environnement Python
.venv/
__pycache__/
*.pyc
*.pyo
.env

# Données et outputs lourds
outputs/df_combined.csv
outputs/figures/
data/raw/OECD_SDD_STES_DSD_STES_DF_CLI__all.csv

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db